<% if user_signed_in? %>
<% else %>
<section class="row">
  <div class="col-md-5 bg-info">
    <h5>Facebook helps you connect and share with the people in your life.</h5>
  </div>
  <div class="col-md-7">
    <h1>Sign up</h1>
    <h5>It's free and always will be.</h5>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render  "devise/registrations/registration_form", f: f %>
    <% end %>
  </div>
</section>
<% end %>
