<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to  "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to  "Sign in", new_user_session_path, class:"btn btn-primary" %>
<% end %>
