<div class="mt-5">
  <h1 class="profile-full-name  ml-5">Your mutual friends with <%= @user.profile.first_name%></h1>
  <% if @mutual_friends.any? %>
    <%= render partial:"users/shows/friends_partial", locals:{friend_resource: @mutual_friends}%>
  <%end%>
</div>
