<h1><%= @user.profile.full_name%></h1>
<% if @mutual_friends.any? %>
  <ul class="list-group">
    <% @mutual_friends.each do |friend|%>
      <li class="list-group-item">
        <%= link_to friend.profile.full_name %>
      </li>
    <%end%>
  </ul>
<%end%>
