<% if current_user == comment.author || current_user == comment.commentable.author %>
  <div class="post_options float-right">
    <div class="dropdown">
      <button class="btn btn-sm" type="button" id="postActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postActionButton">
        <%= link_to  "Edit", edit_user_post_path(current_user,post), class: "dropdown-item" %>
        <%= link_to  "Delete",
         post_path(post),
         method: :delete, 
         class: "dropdown-item" %>
      </div>
    </div>
  </div>
<% end %>