<% if @user.passive_requests.any? %>
  <h4>Friend requests</h4>
  <hr>
  <ul>
    <% @user.passive_requests.each do |request| %>
      <li>
        <%= link_to request.requester.email , request.requester %>
        <%= link_to 'Confirm' , '#', class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete' , '#', class: "btn btn-sm btn-default" %>
      </li>
    <% end %>
  </ul>
<% end %>