<% if user.pending_passive_requests.any? %>
  <h4>Friend requests</h4>
  <hr>
  <ul>
    <% user.pending_passive_requests.each do |request| %>
      <li>
        <%= link_to request.requester.email , request.requester %>
        <%= link_to 'Confirm' , friendships_path(friendship: {
          user_id: request.requester.id,
          friend_id: current_user.id
        }),method: :post, class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete' , friend_request_path(request), method: :delete, class: "btn btn-sm btn-default" %>
      </li>
    <% end %>
  </ul>
<% end %>