<section class="row mt-3">
  <div class="col-md-3">
    <%= render  "users/shows/user_info" %>
    <%= render  "users/shows/friends_box" %>
  </div>
  <div class="col-md-9">
    <% new_or_edit = params[:action] == "show" ? Post.new : @post %>
    <%= render  partial:"posts/post_form", locals:{author: current_user,postable: @user, post: new_or_edit} %>
    <%= render "posts/user_posts", viewer: @user%>
  </div>
</section>



