<div class="dropdown">
  <a class="btn btn-sm btn-silver dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Friends
  </a>
  <div class="dropdown-menu">
    <% friendship = Friendship.where("(user_id=? AND friend_id=?) OR (user_id=? AND friend_id=?)", current_user.id, user.id, user.id, current_user.id)[0]%>
    <%= link_to "Unfriend", friendship_path(friendship), 
    method: :delete,
    class:"dropdown-item px-0 pl-1"
    %>
  </div>
</div>