<ul class="row mx-auto" id="friends_list">
  <% friend_resource.each do |friend|%>
    <li class="col-6 list-group-item mx-2 mb-2">
    <div class="row">
      <div class="col-6">
        <a href="<%=user_path(friend)%>"><%= image_tag image_url(friend.profile), class:"img-fluid profile-picture"%></a>
        <%= link_to friend.profile.full_name, friend %>
      </div>
      <div class="col-6">
        <% if current_user != friend %>
          <% button_to_show = button(current_user, friend) %>
          <%= render "users/shows/#{button_to_show[:filename]}", button_to_show[:locals] %>
        <% end %>
      </div>
    </div>
    </li>
  <%end%>
</ul>
