<div class="card m-1">
  <div class="card-body">
    <% if @user.friends.any? %>
      <div class="">
      <%= link_to  "Friends #{@user.friends.count}", user_all_friends_path(@user), id: "all_friends_count", class:"ml-1" %>
        <% if current_user != @user && current_user.mutual_friends(@user).any?%>
          <%= link_to  "Mutual Friends #{current_user.mutual_friends(@user).count}", user_mutual_friends_path(@user), id: "mutual_friends_count",
          class:"ml-1" %>
        <% end %>
      </div>
      <ul id="partial-friends-list" class="row pl-3 pr-2">
        <% user_first_n_friends(@user, 9).each do |friend| %>
            <%= render "users/shows/small_friends", friend: friend %>
        <% end %>
      </ul>
    <% else %>
      <p class="card-text">No friends yet</p>
    <% end %>
  </div>
</div>