<div class="dropdown" id="friend-request-btn-<%=request.id%>">
  <% btn_style = params[:controller] == 'users' ? "btn-block" : "float-right btn-sm"%>
  <a class="btn request-sent btn-silver dropdown-toggle <%= btn_style %>" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Request sent
  </a>
  <% dropdown_menu_wd = params[:controller] == 'users' ? 13.3 : 7.5 %>
  <div class="dropdown-menu" style="min-width: <%= dropdown_menu_wd%>rem;">
    <%= link_to "Cancel request",   friend_request_path(request), 
    method: :delete,
    class:"dropdown-item px-0 pl-1"
    %>
  </div>
</div>