<div class="dropdown">
  <a class="btn btn-sm request-sent btn-silver dropdown-toggle float-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Request sent
  </a>
  <div class="dropdown-menu">
    <%= link_to "Cancel request", friend_request_path(request), 
    method: :delete,
    class:"dropdown-item px-0 pl-1"
    %>
  </div>
</div>