<div class="card">
  <div class="card-body" id="profile-card">
    <% image_url = @profile.profile_picture? ? @profile.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
    <%= image_tag image_url, class:"img-fluid"%>
    <h1 class="profile-full-name"><%=@profile.full_name %></h1>
    <p class="card-text">
      <p><%= @profile.bio %>
    </p>
    <% if @user != current_user %>
      <% button_to_show = button(current_user, @user) %>
      <%= render  "users/shows/#{button_to_show[:filename]}", button_to_show[:locals] %>
    <% end %>
  </div>
</div>
