<!-- text trigger modal -->

<section class="card">
  <div class="card-body">
    <div class="form-group" data-toggle="modal" data-target="#postFormModal">
      <label for="">Create post</label>
      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="postFormModal" tabindex="-1" role="dialog" aria-labelledby="postFormModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postFormModalLabel"><%= params[:action] %> Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Need to render there-->
    </div>
  </div>
</div>