// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-bg,
.replies-section {
  background-color: #f7f2f2 !important;
}

.comment-pro-pic {
  width: 3% !important;
}

.like-reply-btn {
  font-size: 0.8rem;
}

.no-display {
  display: none;
}