@import "bootstrap";

.main-form {
  width: 50%;
  margin: 0 auto;
}

.log-in-btn {
  height: 55px !important;
}

.main-form-control {
  height: calc(2.25rem + 11px);
}

.bg-fb {
  background-color: #4267b2 !important;
}

.nav-height {
  height: 8rem !important;
}

.nav-sign-in {
  input {
    height: 1.6em;
    border-radius: 0;
  }

  input.btn.btn-sm {
    font-size: 0.9rem;
  }
}