<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-fb">
  <div class="container">
      <% if !user_signed_in? %>
        <a class="navbar-brand unlogged" href="<%= root_path %>" >facebook</a>
      <% else %>
        <a class="navbar-brand logged" href="<%= root_path %>" ><i class="fa fa-facebook-official"></i></a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
          <%= render  "layouts/header_profile" %>
        <% elsif params[:controller] != "devise/sessions" && params[:controller] != "devise/registrations" %>
          <%= render  "layouts/header_form" %>
        <% end %>
      </div>
  </div>
</nav>